#!/usr/bin/make -f

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh ${@}

override_dh_auto_configure:
	dh_auto_configure -- -DWITH_PULSE=ON -DWITH_CHANNELS=ON -DSTATIC_CHANNELS=off

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=freerdp-dbg

override_dh_makeshlibs:
	dh_makeshlibs -V -- -c4

override_dh_auto_clean:
	dh_auto_clean
	rm -f config.h
	rm -f winpr/include/winpr/config.h
	rm -f channels/client/tables.c
